#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    color: #eee;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999999;
    opacity: 0;
    border-radius: 5px;
}

#tooltip.visible {
    opacity: 1;
}

#tooltip #tooltipArrow {
    width: 10px;
    height: 10px;
    background: inherit;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
}

#tooltip #tooltipText {
    width: inherit;
    white-space: nowrap;
}